<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- Latest compiled and minified CSS -->
    <meta charset="UTF-8">

    <title>{{ title or 'Sistema Login' }}</title>
     <link href="bootstrap.min.css" rel="stylesheet">
    <link href="login.css" rel="stylesheet">
</head>
<body>

    <center>

        {{ !base }}

    </center>

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap.min.js"></script>
    <script src="login.js"></script>
</body>
</html>